@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

  :root {
    --lexend: "Lexend", system-ui;
    --primaryColor: #111111;
    --secondaryColor: #b4f461;
  }
  * {
    @apply m-0 p-0 outline-none box-border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  img,
  a,
  li,
  ul,
  ol,
  div {
    @apply m-0 p-0;
  }

  a {
    @apply no-underline;
  }

  li {
    @apply list-none;
  }
  img {
    @apply align-middle;
  }
}

@layer components {
  #donation-wraper {
    row-gap: 40px !important;
  }

  #history {
    display: none;
  }

  #donationhistorybutton {
    padding-top: 40px !important;
    padding-bottom: 20px !important;
  }

  #navDonationHistory {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #ffffff5d;
    backdrop-filter: blur(10px);
  }

  #history-title {
    row-gap: 20px !important;
  }

  #history-message {
    font-size: 30px !important;
    font-family: var(--lexend) !important;
    color: var(--primaryColor) !important;
    font-weight: 600 !important;
    text-align: center !important;
  }

  .active {
    background-color: #b4f461 !important;
    color: #111111 !important;
    border: 2px solid #b4f461 !important;
  }

  @media only screen and (max-width: 600px) {
    #nav {
      padding: 15px 10px !important;
    }
    #nav #blog-btn button,
    #home-btn {
      padding: 4px 20px !important;
      font-size: 12px !important;
    }
    #nav #DonateBangladesh {
      font-size: 12px !important;
    }

    #nav #main-balance {
      font-size: 12px !important;
    }

    #nav #bdt {
      font-size: 12px !important;
    }

    #nav #DonateBangladeshImg {
      width: 20px !important;
    }
    #nav #DonateBangladeshWraper {
      column-gap: 2px !important;
    }

    #nav #mainBalanceWraper {
      column-gap: 2px !important;
    }

    #donationhistorybutton #donation-page-btn {
      padding: 10px 20px !important;
      font-size: 12px !important;
    }

    #donationhistorybutton #history-page-btn {
      padding: 10px 20px !important;
      font-size: 12px !important;
    }

    #donationhistorybutton {
      padding: 30px 0 !important;
    }

    #main-content {
      padding: 40px 10px !important;
    }

    #donation-card {
      flex-direction: column !important;
    }

    #donation-amount-div {
      margin-top: 20px !important;
    }

    #accordian-wraper {
      padding: 20px 10px !important;
    }
  }
}
